<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" />
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/slick/slick.min.js"></script>

    <title>Ecommerce site</title>
</head>

<body>
    <!-- navbar-->

    <nav>
        <h1>Ecommerce</h1>
        <div class="onglets">
            <p class="link">Nouveautés</p>
            <p class="link">Hommes</p>
            <p class="link">Femmes</p>
            <p class="link">Enfants</p>
            <p class="link">Cadeaux</p>
            <form action="">
                <input type="search" placeholder="Search">
            </form>
            <p> <i class="far fa-heart"></i></p>
            <p> <i class="fas fa-shopping-cart"></i></p>

        </div>
    </nav>
    <!-- end navbar-->
    <!-- header-->
    <header>

        <div class="hero">
            <div class="fade"></div>
            <div class="hero-text">
                <h1>Ecommercer</h1>
                <h2>Acheter ...............</h2>

            </div>
        </div>
        <div class="hero">
            <div class="fade"></div>
            <div class="hero-text">
                <h1>Ecommercer</h1>
                <h2>meilleur...............</h2>

            </div>
        </div>
        <div class="hero">
            <div class="fade"></div>
            <div class="hero-text">
                <h1>Ecommercer</h1>
                <h2>Suivis de vos commandes</h2>

            </div>
        </div>
        <div class="hero">
            <div class="fade"></div>
            <div class="hero-text">
                <h1>Ecommercer</h1>
                <h2>Reception rapide....................</h2>

            </div>
        </div>

    </header>
    <!-- end header-->
    <section class="category">
        <h1>Category</h1>
        <div class="line"></div>
        <!-- Toutes les cartes -->
        <div class="cards">
            <div class="card">
                <img
                    src="https://static.nike.com/a/images/f_auto/q_auto:eco/t_PDP_864_v1/0697fd03-09fd-4b3b-be0b-11b009c671d9/short-en-molleton-sportswear-pour-z5Kgjx.jpg">
                <div class="card-header">
                    <h4 class="title">Short Nike</h4>
                    <h4 class="price">199$</h4>
                </div>
                <div class="card-body">
                    <p>Short moulant pour homme</p>
                </div>
            </div>

            <div class="card">
                <img
                    src="https://static.nike.com/a/images/f_auto/q_auto:eco/t_PDP_864_v1/0697fd03-09fd-4b3b-be0b-11b009c671d9/short-en-molleton-sportswear-pour-z5Kgjx.jpg">
                <div class="card-header">
                    <h4 class="title">Short Nike</h4>
                    <h4 class="price">199$</h4>
                </div>
                <div class="card-body">
                    <p>Short moulant pour homme</p>
                </div>
            </div>

            <div class="card">
                <img
                    src="https://static.nike.com/a/images/f_auto/q_auto:eco/t_PDP_864_v1/0697fd03-09fd-4b3b-be0b-11b009c671d9/short-en-molleton-sportswear-pour-z5Kgjx.jpg">
                <div class="card-header">
                    <h4 class="title">Short Nike</h4>
                    <h4 class="price">199$</h4>
                </div>
                <div class="card-body">
                    <p>Short moulant pour homme</p>
                </div>
            </div>

            <div class="card">
                <img
                    src="https://static.nike.com/a/images/f_auto/q_auto:eco/t_PDP_864_v1/0697fd03-09fd-4b3b-be0b-11b009c671d9/short-en-molleton-sportswear-pour-z5Kgjx.jpg">
                <div class="card-header">
                    <h4 class="title">Short Nike</h4>
                    <h4 class="price">199$</h4>
                </div>
                <div class="card-body">
                    <p>Short moulant pour homme</p>
                </div>
            </div>


        </div>
    </section>

    <section class="products">
        <h1>Products</h1>
        <div class="line"></div>
        <!-- Toutes les cartes -->
        <div class="cards">
            <div class="card">
                <img
                    src="https://static.nike.com/a/images/f_auto/q_auto:eco/t_PDP_864_v1/0697fd03-09fd-4b3b-be0b-11b009c671d9/short-en-molleton-sportswear-pour-z5Kgjx.jpg">
                <div class="card-header">
                    <h4 class="title">Short Nike</h4>
                    <h4 class="price">199$</h4>
                </div>
                <div class="card-body">
                    <p>Short moulant pour homme</p>
                </div>
            </div>

            <div class="card">
                <img
                    src="https://static.nike.com/a/images/f_auto/q_auto:eco/t_PDP_864_v1/0697fd03-09fd-4b3b-be0b-11b009c671d9/short-en-molleton-sportswear-pour-z5Kgjx.jpg">
                <div class="card-header">
                    <h4 class="title">Short Nike</h4>
                    <h4 class="price">199$</h4>
                </div>
                <div class="card-body">
                    <p>Short moulant pour homme</p>
                </div>
            </div>

            <div class="card">
                <img
                    src="https://static.nike.com/a/images/f_auto/q_auto:eco/t_PDP_864_v1/0697fd03-09fd-4b3b-be0b-11b009c671d9/short-en-molleton-sportswear-pour-z5Kgjx.jpg">
                <div class="card-header">
                    <h4 class="title">Short Nike</h4>
                    <h4 class="price">199$</h4>
                </div>
                <div class="card-body">
                    <p>Short moulant pour homme</p>
                </div>
            </div>

            <div class="card">
                <img
                    src="https://static.nike.com/a/images/f_auto/q_auto:eco/t_PDP_864_v1/0697fd03-09fd-4b3b-be0b-11b009c671d9/short-en-molleton-sportswear-pour-z5Kgjx.jpg">
                <div class="card-header">
                    <h4 class="title">Short Nike</h4>
                    <h4 class="price">199$</h4>
                </div>
                <div class="card-body">
                    <p>Short moulant pour homme</p>
                </div>
            </div>

            <div class="card">
                <img
                    src="https://static.nike.com/a/images/f_auto/q_auto:eco/t_PDP_864_v1/0697fd03-09fd-4b3b-be0b-11b009c671d9/short-en-molleton-sportswear-pour-z5Kgjx.jpg">
                <div class="card-header">
                    <h4 class="title">Short Nike</h4>
                    <h4 class="price">199$</h4>
                </div>
                <div class="card-body">
                    <p>Short moulant pour homme</p>
                </div>
            </div>

            <div class="card">
                <img
                    src="https://static.nike.com/a/images/f_auto/q_auto:eco/t_PDP_864_v1/0697fd03-09fd-4b3b-be0b-11b009c671d9/short-en-molleton-sportswear-pour-z5Kgjx.jpg">
                <div class="card-header">
                    <h4 class="title">Short Nike</h4>
                    <h4 class="price">199$</h4>
                </div>
                <div class="card-body">
                    <p>Short moulant pour homme</p>
                </div>
            </div>

            <div class="card">
                <img
                    src="https://static.nike.com/a/images/f_auto/q_auto:eco/t_PDP_864_v1/0697fd03-09fd-4b3b-be0b-11b009c671d9/short-en-molleton-sportswear-pour-z5Kgjx.jpg">
                <div class="card-header">
                    <h4 class="title">Short Nike</h4>
                    <h4 class="price">199$</h4>
                </div>
                <div class="card-body">
                    <p>Short moulant pour homme</p>
                </div>
            </div>

            <div class="card">
                <img
                    src="https://static.nike.com/a/images/f_auto/q_auto:eco/t_PDP_864_v1/0697fd03-09fd-4b3b-be0b-11b009c671d9/short-en-molleton-sportswear-pour-z5Kgjx.jpg">
                <div class="card-header">
                    <h4 class="title">Short Nike</h4>
                    <h4 class="price">199$</h4>
                </div>
                <div class="card-body">
                    <p>Short moulant pour homme</p>
                </div>
            </div>
        </div>
    </section>
    <section class="promotion">
        <div class="flex container">
            <img src="/images/promote_img.jpg" alt="image_montre">
            <div>
                <h2>Promote products</h2>
                <p class="large-paragraph">Profitez de la promotion de la montre Nom</p>
                <p>Details......................</p>
            </div>
        </div>
    </section>
    <footer>
        <p>&copy; Contactez-nous au 00 00 00 00</p>
        <div class="social-media">
            <p><i class="fab fa-facebook-f"></i></p>
            <p><i class="fab fa-twitter"></i></p>
            <p><i class="fab fa-instagram"></i></p>
            <p><i class="fab fa-linkedin-in"></i></p>
        </div>
    </footer>
</body>

</html>
</body>

</html>