<%- include('./partials/nav') %>
    <section class="login_section">
        <div class="container">
            <div class="forms">
                <div class="form login">
                    <span class="title">Login</span>
                    <form action="/api/auth/login" class="form" method="POST">
                        <div class="input-field">
                            <input type="text" id="username" name="username" required placeholder="Enter your Username">
                            <i class="fa-regular fa-envelope icon"></i>
                        </div>
                        <div class="input-field">
                            <input type="text" id="Password" name="password" required placeholder="Enter your password">
                            <i class="fa-regular fa-eye-slash showHidePw"></i>

                        </div>
                        <div class="checkbox-text">
                            <div class="checkbox-content">
                                <input type="checkbox" id="logCheck">
                                <label for="logCheck" class="text">Remenber me</label>
                            </div>
                            <a href="#" class="text">Forgot password</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <%- include('./partials/footer.ejs') %>

        <script>
            $(document).ready(function () {
                var a = $("nav").offset().top;

                $(document).scroll(function () {
                    if ($(this).scrollTop() > a) {
                        $('nav').css({ "background-color": "#e4e5f2" });
                    } else {
                        $('nav').css({ "background-color": "transparent" });
                    }
                });
            });
        </script>
        </body>

        </html>