<%- include ('./partials/nav') %>

    <section class="sign_up">
        <div class="container">
            <div class="forms">
                <div class="form login">
                    <span class="title"></span>
                    <form action="/api/auth/register" class="form" method="POST">
                        <div class="form-control">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" required>
                            <div class="username error"></div>
                        </div>
                        <div class="form-control">
                            <label for="email">Email</label>
                            <input type="text" id="email" name="email" required>
                            <div class="email error"></div>
                        </div>
                        <div class="form-control">
                            <label for="titre">Password</label>
                            <input type="password" id="Password" name="password" required>
                            <div class="password error"></div>

                        </div>
                        <div class="form-control">
                            <input type="submit" value="sign up">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <%- include('./partials/footer.ejs') %>
        <script>
            const form = document.querySelector('form');
            form.addEventListener('submit', (e) => {
                let email = form.email.value;
                console.log(email);
            })
        </script>
        </body>

        </html>